.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 330px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}
