.characters-list {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin-left: 100px;
  height: 1000px;
}
.title {
  margin-top: 40px;
}


.characters-list input {
  padding: 8px 12px;
  margin-bottom: 20px;
  width: 250px;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}


